<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tables</title>
    <style>
        body{
            
            color:  whitesmoke;
            background-image: url(https://th.bing.com/th/id/OIP.0IIU3qUo_rzCZuPgW1uhfgHaE8?pid=ImgDet&rs=1);
        }

        div{
            text-align: center;
        }
    </style>
    <h1>Table Quiz</h1>
</head>
<body>


    
    

    <div class="container">

        <div>

            
            <table border="2">
            <thead>
                <th>
                    Country   Name
                </th>
                <th>Country   Flag</th>
                <th>Country   GDP</th>
            </thead>
            <tr>
                <td>United States</td>
                <td><img src="https://th.bing.com/th/id/OIP.kqVHhQoXWh6CK6g8rQa0-QHaEo?pid=ImgDet&rs=1" width="600"></td>
                <td>18,561,930</td>
            </tr>
            <tr>
                <td>India</td>
                <td><img src="https://th.bing.com/th/id/OIP.juc9nDagX33cy52-NC8vdgHaEK?pid=ImgDet&rs=1" width="600"></td>
                <td>2,250,990</td>
            </tr>
            <tr>
                <td>United Kingdom</td>
                <td>
                    <img src="https://th.bing.com/th/id/R.0ef93d0be03b1a0dfd33e87577e03cdc?rik=9QpLZciXDep1NA&riu=http%3a%2f%2fmedia.istockphoto.com%2fvectors%2fflag-of-united-kingdom-vector-id480871209%3fk%3d6%26m%3d480871209%26s%3d612x612%26w%3d0%26h%3driDz9JEvqoaW0aZhEuyFKgdAMKiYEyQm56ltZSvole4%3d&ehk=h%2bI496cokq162d2nt6CB1iMkWOBhAucEJ2b7jchpxcc%3d&risl=&pid=ImgRaw&r=0">
                </td>
                <td>2,649,890</td>
            </tr>
            </table>

        </div>

        
        

    </div>
    
    
</body>
</html>